/* ---- reset ---- */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  list-style: none;
  box-sizing: border-box;
  background: #000;
  color: white;
}

canvas {
  vertical-align: bottom;
} /* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #232741;
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: 50% 50%;
} /* ---- stats.js ---- */

nav {
  position: fixed;
  z-index: 100;
  height: 8vh;
  width: 96%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.logo {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
}

nav .nav-links ul {
  display: flex;
  flex-direction: row;
}

nav .nav-links ul li {
  padding: 0 4px;
  list-style: none;
}

nav .nav-links ul li img {
  transform: scale(0.45);
}

section {
  height: 100vh;
  overflow: hidden;
}

.bg img {
  width: 110vw;
  height: 110vh;
  filter: brightness(0.6);
}

.rock1 {
  position: absolute !important;
  left: 10vw !important;
  top: 20vh !important;
}

.rock1 img {
  width: 40%;
  filter: brightness(0.5);
}

.text h1 {
  font-family: "AlphaCentauri" !important;
  font-size: 5vw;
  color: #fff;
  letter-spacing: 20px;
  position: absolute;
  top: 35vh;
  left: 34vw;
}

p {
  font-size: 20px;
}
.section-two {
  background-color: black;
  color: white;
  font-family: "AlphaCentauri";
}
.asteroid img {
  width: 1000px;
  height: 1000px;
  position: absolute;
  left: 14vw;
  top: 25vh;
  z-index: 1;
  filter: brightness(0.7);
}

.mid {
  left: -150px !important;
  bottom: -100px !important;
  top: unset !important;
}

.mid img {
  width: 100%;
  z-index: 2;
  left: -20px;
  top: 20vh !important;
  filter: brightness(0.8);
}

.fore {
  right: -50px !important;
  bottom: -200px !important;
  top: 0px !important;
  left: unset !important;
}

.fore img {
  width: 400px;
  height: 110vh;
  z-index: 3;
  filter: brightness(0.5);
}

.slide-img {
  background-position: "center";
  background-repeat: no-repeat !important;
  background-size: contain;
  width: 30%;
  height: 100%;
}

.slide-number {
  position: absolute;
  top: -30px;
  left: 30%;
  width: 200px;
  height: 120px;
  overflow: hidden;
  z-index: 10;
}

.slide-number p {
  font-size: 40px;
  font-family: "AlphaCentauri" !important;
  color: #fff;
  position: relative;
}

.slide-number p span {
  position: absolute;
}

.slide-detail {
  position: absolute;
  top: 130px;
  left: 30%;
  z-index: 10;
  width: 50%;
  height: 400px;
  overflow: hidden;
}

.slide-detail p {
  font-size: 14px;
  color: #fff;
  position: relative;
  opacity: 0.8;
  line-height: 30px;
}

.slide-detail p span {
  position: absolute;
}

.slide-detail-facts {
  position: absolute;
  top: 240px;
  left: 30%;
  z-index: 10;
  width: 50%;
  height: 400px;
  overflow: hidden;
  color: #fff;
}
.slide-detail-facts div {
  display: flex;
  position: relative;
}
.slide-detail-facts div h5 {
  margin-right: 20px;
}

.slide-text {
  position: absolute;
  top: -150px;
  left: 22%;
  z-index: 9;
  width: 200px;
  height: 400px;
  overflow: hidden;
  opacity: 0.1 !important;
}

.slide-text h4 {
  color: #fff;
  font-size: 100px;
  position: relative;
}
.slide-text h4 span {
  position: absolute;
}

.team {
  --default-color: #ffffff;
}

.team .section-title {
  color: var(--heading-color);
}

.team .member {
  text-align: center;
  position: relative;
  overflow: hidden;
}

.team .member .member-info {
  opacity: 0;
  position: absolute;
  inset: 0;
  transition: 0.2s;
}

.team .member .member-info-content {
  position: absolute;
  left: 50px;
  right: 0;
  bottom: 0;
  transition: bottom 0.4s;
}

.team .member .member-info-content h4 {
  color: var(--contrast-color);
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
}

.team .member .member-info-content span {
  font-style: italic;
  display: block;
  font-size: 13px;
}

.team .member .social {
  position: absolute;
  left: -50px;
  top: 0;
  bottom: 0;
  width: 50px;
  transition: left ease-in-out 0.3s;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.team .member .social a {
  transition: color 0.3s;
  display: block;
  color: var(--default-color);
  margin-top: 15px;
}

.team .member .social a:hover {
  color: var(--accent-color);
}

.team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

.team .member:hover .member-info {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.8) 20%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 1;
  transition: 0.4s;
}

.team .member:hover .member-info-content {
  bottom: 30px;
  transition: bottom 0.4s;
}

.team .member:hover .social {
  left: 0;
  transition: left ease-in-out 0.3s;
}

.light-background {
  --background-color: #fffaf8;
  --surface-color: #ffffff;
}

.dark-background {
  --background-color: #060606;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --surface-color: #252525;
  --contrast-color: #ffffff;
}

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# Scroll Top Button
--------------------------------------------------------------*/
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background-color: var(--accent-color);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.scroll-top i {
  font-size: 24px;
  color: var(--contrast-color);
  line-height: 0;
}

.scroll-top:hover {
  background-color: color-mix(in srgb, var(--accent-color), transparent 20%);
  color: var(--contrast-color);
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: "Comfortaa", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: black;
  color: white;
  overscroll-behavior: none;
  user-select: none;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #232741;
}

nav {
  position: fixed;
  z-index: 100;
  height: 8vh;
  width: 96%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.Parallax {
  --p: 120;
  height: 100vh;
  overflow: hidden;
  perspective: calc(var(--p) * 1px);
  background-image: url("/images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.team {
  text-align: center;
}

.team .member-info {
  opacity: 0;
  transition: 0.4s;
}

.team .member:hover .member-info {
  opacity: 1;
  background: rgba(0, 0, 0, 0.9);
}

.Parallax_Scroll {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  will-change: transform;
}
.Parallax_Preserve {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.Parallax_Layer {
  --t: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform-origin-x: 100%;
  transform-origin-x: 100%;
  -webkit-transform: translateZ(calc(var(--t) * 1px))
    scale(calc(1 + (var(--t) * -1) / var(--p)));
  transform: translateZ(calc(var(--t) * 1px))
    scale(calc(1 + (var(--t) * -1) / var(--p)));
}

.Scene {
  position: relative;
  min-height: 100vh;
  padding: 5vw;
}

p,
ul {
  margin-top: 0;
  margin-bottom: 5vw;
}

p {
  text-align: justify;
}

h2 {
  margin-top: 1rem;
  margin-bottom: 0.6rem;
  margin-bottom: 2.5vw;
  font-size: max(1.6rem, 4vw);
  font-weight: 300;
  line-height: 1.2;
}

.Svg {
  display: block;
}

.Positioner {
  position: absolute;
}

/* Scene 5 */
.Scene-5 {
  height: 100vh;
  min-height: 200vw;
}

.Svg-moiFg {
  position: absolute;
  top: 50%;
  left: 40%;
  width: 100vw;
  transform: translate(-50%, -50%);
}

#s-moi-spacecraft,
#s-moi-spacecraftFire,
#s-moi-marsSurface,
#s-moi-marsShadow {
  will-change: transform;
}

.moiText {
  position: absolute;
  right: 0;
  max-width: 60%;
  padding: 5vw;
  transform: translate(0, -50%);
  transition: opacity 0.5s;
  opacity: 0;
}
.moiText-active {
  opacity: 1;
}

.moiText > h2 {
  margin: 0;
  font-size: max(2.4rem, 6vw);
  font-weight: 300;
  line-height: 1.2;
}
.moiText > h3 {
  margin: 0;
  font-size: max(1.4rem, 3.5vw);
  font-weight: 300;
  line-height: 1.2;
}
.moiText p {
  margin: 0;
  font-size: max(0.8rem, 2vw);
  font-weight: 300;
  line-height: 1.5;
}

.moiText > p {
  transform: translateY(1.5em);
  transition: transform 0.5s;
}
.moiText-active > p {
  transform: translateY(0em);
}

.moiText_Ticker {
  display: grid;
}
.moiText_TickerItem {
  grid-column: 1;
  grid-row: 1;
  transition: opacity 1s;
  opacity: 0;
}

.moiText-3.moiText-active .moiText_TickerItem:nth-child(1) {
  animation: tick4 24s ease 0s infinite;
}
.moiText-3.moiText-active .moiText_TickerItem:nth-child(2) {
  animation: tick4 24s ease 6s infinite;
}
.moiText-3.moiText-active .moiText_TickerItem:nth-child(3) {
  animation: tick4 24s ease 12s infinite;
}
.moiText-3.moiText-active .moiText_TickerItem:nth-child(4) {
  animation: tick4 24s ease 18s infinite;
}
@keyframes tick4 {
  0% {
    opacity: 0;
    transform: translateY(1.5em);
  }
  2% {
    opacity: 1;
    transform: translateY(0rem);
  }
  25% {
    opacity: 1;
    transform: translateY(0rem);
  }
  27% {
    opacity: 0;
    transform: translateY(-1.5em);
  }
}

.moiText-4.moiText-active .moiText_TickerItem:nth-child(1) {
  animation: tick2 10s ease 0s infinite;
}
.moiText-4.moiText-active .moiText_TickerItem:nth-child(2) {
  animation: tick2 10s ease 5s infinite;
}
@keyframes tick2 {
  0% {
    opacity: 0;
    transform: translateY(1.5em);
  }
  5% {
    opacity: 1;
    transform: translateY(0rem);
  }
  50% {
    opacity: 1;
    transform: translateY(0rem);
  }
  55% {
    opacity: 0;
    transform: translateY(-1.5em);
  }
}

.moiText-1 {
  top: 0%;
  max-width: 95%;
  text-align: right;
  transform: none;
}
.moiText-2 {
  top: 22%;
  max-width: 71%;
}
.moiText-3 {
  top: 38%;
  max-width: 61%;
}
.moiText-4 {
  top: 60%;
  max-width: 55%;
}
.moiText-5 {
  top: 85%;
  min-width: 65%;
}
